html, body{
  height: 100%;
  background-color:  rgb(162, 162, 162)
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.drum-pad-container {
  display: flex;
  justify-content: center;
  margin-top: 20vh;
  
}
.drum-pad{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid black;
  height: 370px;
  width: 370px;
  background-color: rgba(54, 69, 79, .8);
  border-radius: 5px;
  /* box-shadow: 0 50px 100px rgba(50,50,93,.15), 0 15px 35px rgba(50,50,93,.2), 0 5px 15px rgba(0,0,0,.12); */
  box-shadow: 0 50px 100px rgba(26, 26, 28, 0.15), 0 15px 35px rgba(59, 59, 63, 0.2), 0 5px 15px rgba(85, 85, 92, 0.12);

}

/* Pink */
.pad-container-pink{
  margin: 20px;
  transition: all 0.25s;
  background-color: rgb(255, 121, 179);
  box-shadow: 0 50px 100px rgba(234, 234, 237, 0.15), 0 15px 35px rgba(50,50,93,.2), 0 5px 15px rgba(0,0,0,.12);


}

.playing-pink {
  /* background-color: pink; */
  background-color: #FF1177;
  -webkit-animation: none;
  -moz-animation: none;
  /* animation: none; */
  animation: neonPink .5s ease-in-out infinite alternate;
  transform: scale(.975)


}

@keyframes neonPink {
  from {
    box-shadow:  0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    box-shadow: d 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}
/* Blue */
.pad-container-blue{
  margin: 20px;
  transition: all 0.25s;
  background-color: rgb(124, 186, 252);

}

.playing-blue {
  /* background-color: Blue; */
  background-color: #228DFF;
  -webkit-animation: none;
  -moz-animation: none;
  /* animation: none; */
  animation: neonBlue .5s ease-in-out infinite alternate;
  transform: scale(.975)
}

@keyframes neonBlue {
  from {
    box-shadow:  0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    box-shadow: d 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

.pad-container-violet{
  margin: 20px;
  transition: all 0.25s;
  background-color:rgb(223, 143, 252) ;
}

.playing-violet {
  /* background-color: Violet; */
  background-color: #BA01FF;
  -webkit-animation: none;
  -moz-animation: none;
  /* animation: none; */
  animation: neonViolet .5s ease-in-out infinite alternate;
  transform: scale(.975)
}

@keyframes neonViolet {
  from {
    box-shadow:  0 0 40px #BA01FF, 0 0 70px #BA01FF, 0 0 80px #BA01FF, 0 0 100px #BA01FF, 0 0 150px #BA01FF;
  }
  to {
    box-shadow: d 0 0 20px #BA01FF, 0 0 35px #BA01FF, 0 0 40px #BA01FF, 0 0 50px #BA01FF, 0 0 75px #BA01FF;
  }
}

/* color: #228DFF; */
/* color: #FFDD1B; */
/* color: #B6FF00; */
/* color: #FF9900; */
/* color: #BA01FF; */



